<!DOCTYPE html>
	<html>
		{% include header.html %}
		<body>
			<a href='/'><img src="{{site.baseurl}}/assets/Website_Logo.png" alt="Website Logo"></a>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
	        		<li><a href="/skills">Skills</a></li>
	        		<li><a href="/blog">Blog</a></li>
							<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ryan@ryanthomsonweb.co.uk">email</a></li>
	        		<li><a href="https://github.com/rdthomson">github</a></li>
							<li><a href="https://twitter.com/_rdthomson_">twitter</a></li>
							<li><a href="https://ryanthomsonweb.github.io/blog/atom.xml">rss</a></li>
				</ul>
			</footer>
		</body>
	</html>
