<!DOCTYPE html>
	<html>
		{% include header.html %}
		<body>
			{% include navigation.html %}
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ryan@ryanthomsonweb.co.uk">email</a></li>
	        		<li><a href="https://github.com/rdthomson">github</a></li>
							<li><a href="https://twitter.com/_rdthomson_">twitter</a></li>
							<li><a href="https://ryanthomsonweb.github.io/blog/atom.xml">rss</a></li>
				</ul>
			</footer>
		</body>
	</html>
